version: "3.8"

services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: ./frontend
      args:
        VITE_BACKEND_URL:  http://localhost:3000
    ports:
      - "5173:80"
    depends_on:
      - backend

