services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    environment:
      - VITE_BACKEND_URL=http://localhost:5000

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
